@import '../../styles/button.scss';
@import '../../styles//body.scss';

.canvasBody {
  @include mainScreen;
}
#canvas {
  width: 600px;
  height: 350px;
  background-color: white;
}

.buttonGroup{
  @include buttonGroup;
}